# Python stuff
__pycache__/
*.pyc

# SQLite DB
backend/cat_facts.db

# macOS
.DS_Store

# VSCode
.vscode/

# React/Node stuff inside frontend
frontend/cat_fact_project/node_modules/
frontend/cat_fact_project/build/

